*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 .clearFloat {
    clear: both;
 }
 
/********************** Start Nav Bar *******************/
.nav {
    width: 100%;
    font-size: 18px;
    height: 0;
    align-items: center;
    position: relative;
    z-index: 50;
}

.nav .logoDiv {
    float: left;
    width: 40%;
}
.nav .logoDiv a{
    display: block;
    padding: 10px 50px;
}
.nav .logoDiv a .logoImg {
    width: 125px;
    height: 65px;
}
.nav .links {
    float: left;
    width: 60%;
}

.nav .links ul li {
    list-style-type: none;
    display: inline-block;
    margin: 30px 20px;
}
.nav .links ul li a {
    text-decoration: none;
    color: #000;
}
.nav .links ul li a:hover  {
    color: #e28141d3;
}
.active {
    color:#dfd9d5 ;
}
    /*   Adjust droplist   */
#navDropList1  {
    display: none;
    position: fixed;
    top: 15%;
    left: 47%;
    z-index: 10;
}
#navDropList1 ul {
    list-style-type: none;
    width: 250px;
    padding: 10px 20px;
    margin: 1px;
    background-color: #1a1818bc ;
    border: 1px #1a1818bc  solid;
}
#navDropList1 ul a {
    text-decoration: none;
    color: #fff;
    padding-top: 10px;
    display: block;
}
#navDropList1 ul a:hover {
    color: rgba(231, 223, 223, 0.794);
}
/********************** End Nav Bar *******************/
/****************** Start Header [slider] **************/
.header{
    font-family: "Open Sans";

}
.header .overHeader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% ;
    height: 100%;
    color: rgb(22, 15, 15);
    text-align: center;
}
.header #slide1 {
    background-image: url('../images/white-home-slide1.jpg');
    background-size: cover;
    z-index: 2;
}
.header #slide2 {
    background-image: url('../images/white-home-slide2.jpg');
    background-size: cover;
    z-index: 1;
}
.header #slideLeftRight {
    background-color : rgba(230, 245, 230, 0);
    z-index: 3;
    height: max-content;
} 
.header .overHeader .contentSlide , 
.header .overHeader #NextPrev{
      height: max-content; 
}
.header .overHeader .contentSlide h1{
    font-size: 85px;
    color: #333333;
    padding: 20px;
    font-weight: 700px;
    font-family: "Playfair Display";
}
.header .overHeader .contentSlide p {
    font-family: "Open Sans";
    color: #333333;
    margin-bottom: 40px ;
    font-size: 17px ;
    font-weight: 400;
    letter-spacing: 2px;
}
.header .overHeader .contentSlide .p1{
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.header .overHeader .contentSlide a{
    display: inline-block;
    padding: 15px 30px;
    border-radius: 5px;
    background-color:#333;
    text-decoration: none;
    position: relative;
    color: #fff;
    font-family: "Open Sans", sans-serif;
   
}
.header .overHeader .contentSlide a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 5px;
    background-color:#f1f1f1;
    transition: width .3s ;   
}
.header .overHeader .contentSlide a:hover{
    color:rgb(22, 15, 15);
}
.header .overHeader .contentSlide a:hover::before {
    width: 100%;
} 
.header .overHeader .contentSlide span{
    position: relative;
}

.next , .prev {
    font-size: 60px;
    color: #262929;
    background-color: rgba(255, 255, 255, 0.041);
    border-color:rgba(255, 255, 255, 0.041);
    margin: 20px;
    z-index: 5;
}
.header .overHeader #NextPrev .next {
    float: left;  
}
.header .overHeader #NextPrev .prev {
    float: right;
}
/****************** End Header [slider] **************/
/****************** Start special section ************/


.special  
{
    position: relative;
    width: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}
.special .text 
{
    margin: 60px auto;
    width: 46%;
    text-align:center ;
    font-size: 18px;
    color: #333333a4;
    line-height: 1.5;
 
}
.special .text .p1 {
    font-size: 14px;
}
.special .text h1
{
    font-family:"Playfair Display", serif;
    padding: 20px 0;
    color: #333333ec;
    font-size: 55px;
}

/*   start images section    */
.special .imagesS img
{
    margin: 10px;
    width: 380px;
    height:350px ;
}
/*     End images section      */
/*     ramzy information chef section    */
.special #container
{
    position: relative;
    margin: 40px 0  50px 100px;
    font-family: sans-serif;
    width: 85vw;
    text-align: justify;
}

#floatChild1,#floatChild2
{
    opacity:0.6;
    text-align: justify;
    line-height: 2;
}

#floatChild1
{
    width:47%;
    float:left;
    margin-left: 10 px;
}

#floatChild2
{ 
    width:47%;  
    float: right;
    margin-right: 10 px;

}
.clearFloat
{
  clear: both;  
}
    
.special #sliderContainer 
{   
    background-image: url("../images/white-home-parallax1.jpg");
    background-attachment: fixed;
    font-family: sans-serif;
    color:rgba(255, 255, 255, 0.938) ;
    padding:20px ;   
    height: 500px;
    width: 90%;
    margin: auto;
}
.special #sliderContainer #imagesContainter
{
    margin: -60px auto;
    width: 70%;
    text-align:center ;
     padding: 40px;
    line-height:2 ;    
   
}
.special #sliderContainer #imagesContainter p
{
    color: #fff;
    font-size: 18px;
}
.special #sliderContainer #imagesContainter .QotesOwnr
{
    margin: 30px ;
    font-size: 14px;
    color: #e6e3e3;
}
.special #sliderContainer img
{  
    margin: 80px 0 30px 0;
    width:70px ;
    height: 70px;
}
.special #sliderContainer #page1
{
    display: block;
}
.special #sliderContainer #page2
{
    display: none;
}
.special #sliderContainer #page3
{
    display: none;

}

#point span {
    width:10px;
    opacity:0.4 ;
	height: 10px;
	background-color:white;
	display: inline-block;
	border-radius: 50%; 
    margin: 0 2px;
}

#point
{
     margin-top: 50px;
    text-align:center ;
}
/****************** End special section ***********/
/****************** Start Menu section ************/
.menu-section
{
    margin: 100px 0;
}
.my-flex-container
{
    display: flex;
    align-items: center;
}
.wrapper
{
    width: 100%;
    margin: auto;
}
.wrapper .p1 {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}
.wrapper p
{
    color: #3333339c;
    padding: 20px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
}
.wrapper h1
{
    font-family: "Playfair Display", serif;
    color: #333;
    font-size: 50px;
}
.reversed
{
    flex-direction: row-reverse; 
}
.text-container {
    width: 43vw;
    margin-left: 30px;
}
.reversed .text-container
{
    text-align: right;
}
.my-img-container
{
    width: 45vw;
    flex-shrink: 0;
    text-align: center;
}
.my-img-1
{
    width: 80%;
}
.button
{
    font-size: 12px;
    letter-spacing: 2px;
}

/*Button Styling*/
.button
{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color:#f1f1f1;
    text-decoration: none;
    position: relative;
    color: rgb(51, 51, 51);
    transition: color .2s;
}
.button::before 
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 5px;
    background-color:#333;
    transition: width .3s ;   
}
.button:hover
{
    color:#f1f1f1;
}
.button:hover::before
{
    width: 100%;
} 
.btn-cnt
{
    position: relative;
}

/****************** End Menu section ************/

/****************** Start gallary section ************/
.gallary-section
{
    position: relative;
} 
.gallary{
    width: 100%;
    height:300px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.gallary-img{
    display: inline-block;
    width: 18%;
    height: 300px;
    margin: 0.8% ;
    opacity: 1;
    cursor: pointer;
}

.gallary-img:hover{
    opacity: 0.6;
}

/* ------------------------- */
/* ----gallary popup style---- */
.gallary-popup
{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width:100%;
    background-color: rgba(0, 0, 0, 0.7);

    visibility:hidden;
    opacity: 1;
    position: fixed;
    top: 0;
    z-index: 50;
}
.popup-img{
    width: 400px;
    z-index: 150;
}

.popup-text{
    color: #f1f1f1;
    position: relative;
}

.popup-arrow{
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.popup-exit{
    position:absolute;
    right: 0;
    cursor: pointer;
}

/****************** End gallary section **************/

/****************** Start booking section ************/
.booking-section
{
    text-align: center;
    padding: 100px;
    color: #555;
}
.booking-headings 
{
    width: 50vw;
    margin: auto;
}
.booking-section p
{
    text-transform: capitalize;
    color: #333333ad;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 16px;
}
.booking-section h2
{
    font-family:"Playfair Display", serif;
    color: #333333ec;
    font-size: 55px;
    margin: 20px 0  40px;
}

.booking-input
{
    display: flex;
    justify-content: center;
    align-content: center;
}

.booking-select
{
    display: inline-block;
    margin: 25px 10px;
}

.booking-people,
.booking-time,
.booking-date{
    /* to remove the dropdown arrow */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    width: 300px;
    border: none;
    background-color: transparent;
    border: 2px solid #ebebeb;
    padding: 15px;
    color: #9a9a9a;
}

.options{
    color: #9a9a9a;
}

.booking-btn{
    background-color: #f1f1f1;
    color: #333;
    border: none;
    padding: 15px 25px;
    text-decoration: none;
}


.booking-btn:hover{
    background-color: #333;
    color:#f1f1f1;
    cursor: pointer;
}
/****************** End booking section *************/
/****************** Start Footer section ************/
footer
{
    background-color: #1b1b1b;
    color: #d4d4d4;
    text-align: center;
    padding: 25px;
    height: 80vh;
}

.footer-container
{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    align-content: flex-start;
    padding: 10px;
    line-height: 35px;
   
}
.footer-container p {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: #d4d4d4;
}
.footer-column
{
    flex: 1 1 0;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 30px;
}

.footer-icons
{
    margin-top: 15px;
}

.footer-column .fab{
    padding: 7px;
}

.footer-column .fab:hover{
    cursor: pointer;
    color: #9a9a9a;
}


.logo-footer{
    /* to center the img */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* not a good practise */
    margin-top: -10px;
}

.footer-span{
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 13px;
}

.footer-span:hover{
    cursor: pointer;
    color: #d4d4d4;
}
.footer-cpyright{
    color: #9a9a9a;
}
/* ------------------------- */
/* ----utality classes---- */
.margin-bottom-med{
    margin-bottom: 20px;
}
/****************** End Footer section ************/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }




  